#oppositeImage {
    float: right;
}    
.Work-container {
    margin-bottom: 2rem;
}
.tool-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Contact-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
